$containerWidth: 1170px;
$navbarHeight: 70px;
$footerHeight: 40px;

$colorLightGrey: #eeeeee;
$colorDarkGrey: #dddddd;
$colorRed: #c00040;

$mainFont: 'Calibri';

body {
  margin: 0;
  background-color: $colorDarkGrey;
  font-family: $mainFont;
}

.app-navbar {
  width: 100%;
  background-color: $colorLightGrey;
  height: $navbarHeight;

  .container {
    width: $containerWidth;
    margin: 0 auto;

    .logo {
      height: $navbarHeight - 10px;
      margin-top: 5px;
    }
  }
}

.app-content {
  width: $containerWidth;
  margin: 0 auto;
  min-height: calc(100vh - #{$navbarHeight} - #{$footerHeight});
}

.app-footer {
  width: 100%;
  background-color: $colorLightGrey;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $footerHeight;
}

.page {
  padding-top: 20px;
  padding-bottom: 20px;
}

.form-row {
  width: 720px;
  margin: 0 auto 15px auto;
  height: 40px;

  .form-label {
    width: 200px;
    text-align: right;
    padding-right: 20px;
    float: left;
    white-space: nowrap;
    
    label {
      display: inline;
      line-height: 40px;
      font-size: 18px;
    }
  }

  .form-content {
    width: 500px;
    float: left;
    text-align: left;

    input {
      display: block;
      width: calc(100% - 32px);
      padding: 10px 15px;
      font-size: 18px;
      border-radius: 10px;
      border: 1px solid #888888;
      font-family: $mainFont;

      &:focus {
        outline: 0;
        border: 1px solid $colorRed;
        padding: 10px 14px;
        box-shadow: 0 0 3px $colorRed;
      }
    }

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
}